{% extends 'base.html' %}

{% block content %}
<div class="content-width" style="margin-top: 4rem;">
	<h2>
		Your shopping cart
	</h2>
	<div class="five-columns cart-grid">
		<div>
			<h5>
				name
			</h5>
		</div>
		<div>
			<h5>
				price
			</h5>
		</div>
		<div> 
			<h5>
				quantity
			</h5>
		</div>
		<div class="two-columns">
			<h5>
				controlls
			</h5>
		</div>
		<div>
			<h5>
				total price
			</h5>
		</div>

		{% for item in cart %}
		
			{% with item.product as prod %}
				<div>
						<a href="{{ prod.get_absolute_url }}">{{ prod }}</a>
				</div>
				<div>
					{{ item.price }}
					
				</div>
				<div> 
					{{ item.quantity }}
				</div>
				<div class="two-columns">
					<div>
						<form action="{% url 'cart:cart_add' prod.id %}" method="post">
							{{ item.quantity_form.quantity }}
							{{ item.quantity_form.override }}
							{% csrf_token %}

							<input type="submit" value="Change">
						</form>
					</div>
					<div >
						<form action="{% url 'cart:cart_remove' prod.id %}" method="POST">
							{% csrf_token %}
							
							<div class="float-right">
								<input type="submit", value="Delete">
							</div>
						</form>
					</div>
				</div>
				<div>
					{{ item.total_price }}
				</div>
			{% endwith %}
		{% empty %}
			No items choosen yet
		{% endfor %}
		<div>
			<h3>
				Total
			</h3>
		</div>
		<div>
		</div>
		<div> 
		</div>
		<div class="two-columns">
		</div>
		<div>
			<h3>
				{{ cart.get_total_price }}
			</h3>
		</div>


		
	</div>
	<div style="margin-top: 4rem;">
		<div class="two-columns destroy-grid">
			<div>

			</div>
			<div class="two-columns">
				<div>
					<h3>
						Order
					</h3>
					<div>
						Please place your contact1 info for us, so we can contact you and send products you.
					</div>
					<div>
						<a href="{% url 'shop:create_order' %}" class="highlight white-block" >
							Send my order
						</a>
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>
{% endblock %}