{% extends 'base.html' %}

{% block page_title %}
	Order AppleSales
{% endblock %}


{% block content %}
	<div class="content-width" style="margin-top: 4rem;">
		<div class="two-columns destroy-grid">
			<div>
				<h2>
					Sending order
				</h2>
		
				<div style="margin-top: 2rem;">
					<form method="post">
						<h4>
							Your contact information
						</h4>
						<div>
							Please fill out your contact information so we can contact you about the order.
						</div>
						{% if message %}
							<div class="error-message">
								Field "{{ message }}" has an issue
							</div>
						{% endif %}
		
						<div>
							{{ form.contact_number }}
						</div>
						<div>
							{{ form.contact_email }}
						</div>
		
						<div>
							{% csrf_token %}
							<input type="submit" value="Send request">
						</div>
						
					</form>
				</div>
			</div>
			<div class="white-block">
				<div style="border-bottom: 1px solid gray;">
					<div class="three-columns">
						<div>
							<h4>
								Наименование
							</h4>
						</div>
						<div>
							<h4>
								Кол-во
							</h4>
						</div>
						<div>
							<h4>
								Цена за все
							</h4>
						</div>
					</div>
				</div>

				{% for item in cart %}
				<div class="push">
					<div class="three-columns">
						<div>
							{{ item.product|title }}
						</div>
						<div>
							x{{ item.quantity }}
						</div>
						<div>
							{{ item.total_price }}
						</div>
					</div>
				</div>
				{% endfor %}
				<br>
				<div class="push">
					<div class="three-columns">
						<div>
							<h3>
								Всего
							</h3>
						</div>
						<div>
						</div>
						<div>
							{{ cart.get_total_price }}
						</div>
					</div>
				</div>

			</div>
		</div>
		
	</div>
{% endblock %}