{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<title>AppleSale</title>
</head>
<body>
	<div class="header">
		<div class="content-width header-inner split-grid">
			<div>
				<a href="{% url 'core:main_page' %}">
					<span class="centered-svg">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="4 32 376.4 449.4" width="20" height="20"><path d="M318.7 268.7c-.2-36.7 16.4-64.4 50-84.8-18.8-26.9-47.2-41.7-84.7-44.6-35.5-2.8-74.3 20.7-88.5 20.7-15 0-49.4-19.7-76.4-19.7C63.3 141.2 4 184.8 4 273.5q0 39.3 14.4 81.2c12.8 36.7 59 126.7 107.2 125.2 25.2-.6 43-17.9 75.8-17.9 31.8 0 48.3 17.9 76.4 17.9 48.6-.7 90.4-82.5 102.6-119.3-65.2-30.7-61.7-90-61.7-91.9zm-56.6-164.2c27.3-32.4 24.8-61.9 24-72.5-24.1 1.4-52 16.4-67.9 34.9-17.5 19.8-27.8 44.3-25.6 71.9 26.1 2 49.9-11.4 69.5-34.3z"/></svg>
					</span>
					Aplle sale
				</a>
			</div>
			<div class="header-categories span-three phone-hide">
				<div class="">
					<a href="{% url 'shop:shop_main' %}">
						All products
					</a>
				</div>
				{% for cat in all_categories|slice:4 %}
					<div >
						<a href="{{ cat.get_absolute_url }}">{{ cat|truncatechars:14 }}</a>
					</div>
				{% endfor %}
			</div>
			<div style="text-align: right;">
				More
			</div>	

		</div>
	</div>

	<div>
		{% block content %}
		{% endblock %}
	</div>


	<div class="bottom-page">
		<div class="content-width">
			<h2>
				Pages closer
			</h2>
			<div>
				Here might be some licese info, or contact information
			</div>
	
		</div>
	</div>
</body>
</html>