{% extends 'base.html' %}
{% load static %}


{% block page_title %}
	{{ product|title }}
{% endblock %}


{% block content %}
<div class="content-width">
	<div class="product_path">
		{% for item in product.get_path_to_prod %}
			<a href="{{ item.get_absolute_url }}">
				> {{ item.name }} 
			</a>
		{% endfor %}
	</div>
	

	<h2 class="dark-color">
		<a href="{{ product.get_absolute_url }}">{{ product }}</a>
	</h2>
	
	<div class="two-columns">
		<div class="image-fit-wrapper">
			{% if product.get_primary_image %}
				<img src="{{ product.get_primary_image.file.url }}" alt="">
			{% else %}
				<img src="{% static 'imgs/placeholder.jpg' %}" alt="">
			{% endif %}
		</div>
		<div class="white-block">
			<h4 class="dark-color">
				Choose option for you
			</h4>
			<div>
				some choosing of parametsrs
			</div>
		</div>
		<div class="span-two">
			<div class="five-columns">
				{% for img in product.images.all %}
					<div class="image-fit-wrapper">
						<img src="{{ img.file.url }}" alt="">
					</div>
	
				{% endfor %}
			</div>	

		</div>

		<div style="padding-top: .4rem;">
			here is big description
		</div>
		<div>
			<div class="float-right">
				<form action="{% url 'cart:cart_add' product.id %}" method="post">
					{{ add_form.quantity }}
					{% csrf_token %}
					<input type="submit" value="Buy">
	
				</form>
			</div>
		</div>

	</div>
	<div>
		from save category:
		{% for prod in  product.category.products.all|slice:4 %}
		<div>
			<a href="{{ prod.get_absolute_url }}">{{ prod }}</a>
		</div>
		{% endfor %}
	
	</div>
</div>

{% endblock %}