{% extends 'base.html' %}



{% block content %}  
		<div class="sub-header">
			<div class="content-width">
				<div class="twelve-columns">
					<div class="sub-header-item">
						<a href="{% url 'shop:shop_main' %}">
							All products
						</a>	
					</div>
					<div></div>
					<div></div>
		
					{% for cat in categories %}
						{% if not cat.parent_category %}
							<div class="sub-header-item">
								<a href="{{ cat.get_absolute_url }}">
									{{ cat|truncatewords:2|title }}
								</a>
								<div class="sub-header-open-up">
									<div class="content-width">
										<div class="five-columns">
											<div>
												<h2>
													<a href="{{ cat.get_absolute_url }}">
														{{ cat|title }}
													</a>
												</h2>
			
												{% for subcat in cat.subcategories.all %}
													<div>
														<a href="{{ subcat.get_absolute_url }}">
															{{ subcat|title }}
														</a>
													</div>
												{% endfor %}	
		
											</div>
											<div class="span-four">
												<div class="four-columns">
													{% for prod in cat.products.all %}
														<div>
															<a href="{{ prod.get_absoult_url }}">
																{{ prod|title }}
															</a>
														</div>
													{% endfor %}

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						{% endif %}
					{% endfor %}
	
				</div>	
			</div>
		</div>


		

		<div class="content-width" style="margin-top: 2rem;">
			<div class="float-right">
				<a href="{% url 'cart:cart_page' %}">My cart</a>
			</div>
			<div class="float-right">
				<a href="{% url 'cart:cart_page' %}">My cart</a>
			</div>
		

		{% if category %}
			
			<div class="inline-bastards">
				{% for path_point in category.get_path_to_cat %}
					<div>
						<h5>
							<a href="{{ path_point.get_absolute_url }}">
								> {{ path_point.name }}
							</a>
						</h5>
					</div>
				{% endfor %}
			</div>
			
			<h2>
				<a href="{{ category.get_absolute_url }}">{{ category|title }}</a>
			</h2>
			<div class="four-columns destroy-grid split-grid">
				{% for subcat in sub_categories %}
				<div class="product-item-big white-block">
					<a href="{{ subcat.get_absolute_url }}">
						<div class="product-item-big-picture">

						</div>
						<div>
							<h3>
								{{ subcat }}
							</h3>
						</div>
					</a>
				</div>

				{% endfor %}
			</div>


		{% else %}
			<h2 style="text-align: center; margin-bottom: 1rem;">
				All products
			</h2>
			<div class="four-columns destroy-grid split-grid">
				{% for cat in categories %}
					{% if not cat.parent_category %}
						<div class="product-item-big white-block">
							<a href="{{ cat.get_absolute_url }}">
								<div class="product-item-big-picture">

								</div>
								<div>
									<h3>
										{{ cat|title }}
									</h3>
								</div>
							</a>
						</div>
					{% endif %}
				{% endfor %}
			</div>
			<h3 style="margin-top: 2rem;">
				Find a product for you
			</h3>
		{% endif %}

		<div>
			<div>
				<form method="POST">
					<div class="inline-bastards">
						<div>
							{{ search_form.query }}
							{{ search_form.price_top }}
							{{ search_form.price_bot }}
						</div>
						<div>
							{% csrf_token %}
							<input type="submit" value="search">
						</div>
					</div>
				</form>			
			</div>	

			<div class="four-columns destroy-grid split-grid">
				{% for prod in products %}
					<div class="white-block product-item-big">
						<div class="product-item-big-picture">

						</div>
						<h3>
							<a href="{{ prod.get_absolute_url }}">
								{{ prod|title }}
							</a>
						</h3>
						<div>
							{{ prod.price }}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}