{% extends 'base.html' %}
{% load static %}

{% block page_title %}
	{% if category %}
		{{ category|title }}
	{% else %}
		AppleSale Shop
	{% endif %}
{% endblock %}


{% block content %}  
		<div class="sub-header">
			<div class="content-width">
				<!-- HEADER FOR THIN -->
				<div class="phone-only" style="text-align: center;">
					<div class="sub-header-item">
						=
						<div class="sub-header-open-up">
							{% for cat in categories %}
								{% if not cat.parent_category %}
									<div class="white-block" style="border-bottom: 1px solid rgb(199, 199, 199);">
										<h2>
											<a href="{{ cat.get_absolute_url }}">
												 {{ cat|title }}
											</a>
										</h2>
										<div class="inline-bastards">
											<h5>
												{% for sub in cat.subcategories.all %}
													{{ sub }}
												{% endfor %}
											</h5>
										</div>

									</div>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
				<script>
					var thing = document.getElementsByClassName('sub-header-item')[0];
					var menu = thing.getElementsByClassName('sub-header-open-up')[0];
					thing.onclick = function(event) {
						let state = menu.style['visibility'];
						console.log(state)
						if (state=='hidden'||state=='') {
							menu.style['visibility'] = 'initial';
						} else{
							menu.style['visibility'] = 'hidden';
						}
					}
				</script>

				<!-- HEADER FOR WIDE -->
				<div class="twelve-columns phone-hide">
					<div class="sub-header-item">
						<a href="{% url 'shop:shop_main' %}">
							All products
						</a>	
					</div>
					<div>
					</div>
					<div class="phone-hide" ></div>
					<div class="phone-hide" ></div>
		
					{% for cat in categories %}
						{% if not cat.parent_category %}
							<div class="sub-header-item">
								<a href="{{ cat.get_absolute_url }}">
									{{ cat|truncatewords:2|title }}
								</a>
								<div class="sub-header-open-up">
									<div class="content-width">
										<div class="five-columns">
											<div>
												<h2>
													<a href="{{ cat.get_absolute_url }}">
														{{ cat|title }}
													</a>
												</h2>
			
												{% for subcat in cat.subcategories.all %}
													<div>
														<a href="{{ subcat.get_absolute_url }}">
															{{ subcat|title }}
														</a>
													</div>
												{% endfor %}	
		
											</div>
											<div class="span-four">
												<div class="four-columns">
													{% for prod in cat.products.all|slice:":7" %}
														<div class="subheader-prod-item" style="text-align: center;">
															<div class="image-fit-wrapper">
																<img src="{{ prod.get_primary_image.file.url }}" alt="">
															</div>
															<h4>
																<a href="{{ prod.get_absolute_url }}">
																	{{ prod|title|truncatechars:42 }}
																</a>	
															</h4>
															<div>
																<h4 class="specal-text">
																	{{ prod.get_price }}p
																</h4>
															</div>
															<br>
															<a href="{{ prod.get_absolute_url }}">
																<span class="prod-button-small" >
																	Подробнее
																</span>
	
															</a>
														</div>
													{% endfor %}

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						{% endif %}
					{% endfor %}
	
				</div>	
			</div>
		</div>


		

		<div class="content-width" style="margin-top: 2rem;">
			<div class="float-right">
				<a href="{% url 'cart:cart_page' %}">My cart</a>
			</div>
			<div class="float-right">
				<a href="{% url 'cart:cart_page' %}">My cart</a>
			</div>
		

		{% if category %}
			
			<div class="inline-bastards">
				<div>
					<h5 class="fade-text">
						<a href="/shop/"> / Home</a>
					</h5>
				</div>
				{% for path_point in category.get_path_to_cat %}
					<div>
						<h5 class="fade-text">
							<a href="{{ path_point.get_absolute_url }}">
								> {{ path_point.name }}
							</a>
						</h5>
					</div>
				{% endfor %}
			</div>
			<h1>
				<a href="{{ category.get_absolute_url }}">{{ category|title }}</a>
			</h1>
			<br>
			<br>
			<div class="four-columns destroy-grid split-grid">
				{% for subcat in sub_categories %}
				<div class="product-item-big white-block">
					<a href="{{ subcat.get_absolute_url }}">
						<div class="product-item-big-picture">
							{% if subcat.cover %}
								<img src="{{ subcat.cover.url }}" alt="">
							{% else %}
								<img src="{% static 'imgs/placeholder.jpg' %}" alt="">
							{% endif %}
						</div>
						<div>
							<h3>
								{{ subcat }}
							</h3>
						</div>
					</a>
				</div>

				{% endfor %}
			</div>


		{% else %}
			<h2 style="text-align: center; margin-bottom: 1rem;">
				All products
			</h2>
			<div class="four-columns destroy-grid split-grid">
				{% for cat in categories %}
					{% if not cat.parent_category %}
						<div class="product-item-big white-block">
							<a href="{{ cat.get_absolute_url }}">
								<div class="product-item-big-picture">
									{% if cat.cover %}
										<img src="{{ cat.cover.url }}" alt="">
									{% else %}
										<img src="{% static 'imgs/placeholder.jpg' %}" alt="">
									{% endif %}
								</div>
								<div>
									<h3>
										{{ cat|title }}
									</h3>
								</div>
							</a>
						</div>
					{% endif %}
				{% endfor %}
			</div>
			<h3 style="margin-top: 2rem;">
				Find a product for you
			</h3>
		{% endif %}

		<div>
			<div>
				<form method="POST">
					<div class="inline-bastards">
						<div>
							{{ search_form.query }}
							{{ search_form.price_top }}
							{{ search_form.price_bot }}
						</div>
						<div>
							{% csrf_token %}
							<input type="submit" value="search">
						</div>
					</div>
				</form>		
			</div>
			<div>
				{% if is_search %}
				<a href="">
					Undo search
				</a>
				{% endif %}
			</div>

			<div class="four-columns destroy-grid split-grid" id="products-list">
				{% for prod in products %}
					<div class="product-item-big">
						<h5>
							<a href="{{ prod.category.get_absolute_url }}">
								<div class="fun-text" style="text-align: left;">
									/{{ prod.category }}
								</div>	
							</a>	
						</h5>
	
						<div class="product-item-big-picture">
							{% if prod.get_primary_image %}
								<img src="{{ prod.get_primary_image.file.url }}" alt="">
							{% else %}
								<img src="{% static 'imgs/placeholder.jpg' %}" alt="">
							{% endif %}
						</div>
						<h3>
							<a href="{{ prod.get_absolute_url }}">
								{{ prod|title|truncatechars:50 }}
							</a>
						</h3>
						<div style="margin-top: .5rem;">
							{% if prod.price %}
								<h3>
									<span class="specal-text">
										{{ prod.get_price }}p
									</span>

								</h3>
							{% else %}
								<h3 class="specal-text">
									Not available
								</h3>
							{% endif %}
						</div>
						<div class="product-item-button-space">
							<a href="{{ prod.get_absolute_url }}">
								<div class="prod-button-big">
									Подробнее
								</div>
	
							</a>
						</div>
					</div>
				{% empty %}
					<div style="margin-top: 1rem;">
						No results for this request
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}

{% block afterbody %}
	<script language="JavaScript" type="text/javascript" src="{% static '/js/jquery-1.2.6.min.js' %}"></script>
	<script>
		var page = 1;
		var empty_page = false;
		var block_request = false;
		var jobs_list = document.getElementById('products-list')

		window.onscroll = function () { 
			var margin = document.body.scrollHeight - window.innerHeight - 100;
			if (pageYOffset > margin && empty_page == false && block_request == false) {
				block_request = true;
				page += 1;			


				$.get('?page=' + page, function(data) {
					if (data == '') {
						empty_page=true;
					} else {
						block_request = false;
						jobs_list.innerHTML += data;
					}
				});
			};
			};
	</script>
{% endblock %}

