@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

:root{
	--main-bg-color: rgb(246, 246, 248);
	--light-dark-color: rgb(223, 223, 223);
	--light-darker-color: rgb(198, 196, 202);
	--main-text-color: rgb(104, 104, 104);
	--main-links-coor: rgb(55, 55, 55);

	--darilight-coor: rgb(30, 15, 15);
}


body{
	background-color: var(--main-bg-color);
	/* background-color: rgb(246, 246, 248); */
	color: var(--main-text-color);
	font-size: 14px;
}
textarea:focus, input:focus{
	outline: 1px solid var(--light-darker-color);
}
input{
	padding: .5rem 1rem;
	border: 1px solid var(--light-dark-color);
}
input[type='submit']{
	padding: .3rem .6rem;
}

a{
	color: var(--main-links-coor);
	text-decoration: none;
	color: rgb(55, 55, 55);
}

*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, .dark-color{
	color: var(--darilight-coor);
}


.debug, .debug *{
	border: 1px solid rgb(99, 160, 180);
	background-color: rgba(124, 155, 180, 0.2);
}

.product-item-big{
	margin: .3rem;
	border-radius: .3rem;
	text-align: center;
}

.product-item-big-picture{
	/* background-color: var(--light-dark-color); */
	height: 15rem;
}
.product-item-big-picture > img{
	max-width: 100%;
	max-height: 100%;
}

.header{
	/* margin-top: .6rem; */
	background-color: white;
	padding: .3rem;
}

.inline-bastards > div{
	display: inline-block;
	vertical-align: top;
}

.header-inner{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

.content-width{
	max-width: 1300px;
	margin: 0 auto;
}

.header-categories{
	display: grid;
	grid-template-columns: repeat(5, 1fr);

}

.four-columns, .two-columns, .five-columns, .twelve-columns{
	display: grid;
}
.four-columns{grid-template-columns: repeat(4, 1fr);}
.five-columns{grid-template-columns: repeat(5, 1fr);}
.two-columns{grid-template-columns: repeat(2, 1fr);}
.twelve-columns{grid-template-columns: repeat(12, 1fr);}

.span-three{grid-column: span 3;}
.span-two{grid-column: span 2;}
.span-four{grid-column: span 4;}
.span-five{grid-column: span 5;}


.centered-svg{
	/* border: 1px solid red; */
	position: relative;
	display: inline-block;
	min-width: 15px !important;
	height: 15px;
	margin-right: .5rem;
}
.centered-svg > svg{
	top: -.1rem;
	position: absolute;
}


.slide-show-wrapper{
	overflow: auto;
	white-space: nowrap;
}

.slide-show-item{
	padding: 0;
	margin: 0;
	display: inline-block;
	height: 15rem;
	width: 50rem;
	background: linear-gradient(45deg, gray, transparent);
	border: 1px solid black;
}

.big-prod-grid{
	display: grid;
	grid-template-columns: repeat(4, 1fr);

	gap: .6rem;
}

.big-prod-grid > div{
	color: white;
	background-color: rgb(17, 17, 17);
	padding: 1rem;
}

.white-block{
	background-color: white;
	padding: .5rem;
}
.push{
	margin: .5rem;
}

.image-fit-wrapper{
	padding: .5rem;
}
.image-fit{
	max-width: 100%;
}

.bottom-page{
	margin-top: 4rem;
	/* border-top: 1px solid white; */
	background-color: rgb(0, 0, 0, 0.05);
	padding-top: 2rem;
	padding-bottom: 3rem;
}

.float-right{
	float: right;
	height: 0px;
	line-height: 0px;
	
}

.cart-grid{
	background-color: rgb(246, 246, 248);
	padding: .3rem 1rem;
	grid-gap: 0.2rem;
}

.cart-grid > div{
	background-color: white;

	padding: .2rem .7rem;
}

.highlight{
	border: 1px solid black;
}


.sub-header-open-up{
	visibility: hidden;
	
	right: 0px;
	left: 0px;
	bottom: 0px;
	transform: translate(0%, 100%);
	position: absolute;

	color: transparent;
	/* background-color: var(--main-bg-color); */
	background-color: white;
	text-align: left;

	transition: max-height .3s ease;
	transition: .3s;
	max-height: 0px;
	border-bottom: .1rem solid rgb(216, 216, 216) ;
}

.sub-header-item:hover .sub-header-open-up{
	padding: 2rem;
	color: black;
	transition: .3s;
	
	max-height: 100px;

	visibility: initial;
}

.sub-header-item:hover .sub-header-open-up a{
	color: var(--darilight-coor);
}


.sub-header{
	position: relative;
	background-color: rgb(69, 69, 105);
	color: white;
	transition: .6s;
	
}
.sub-header:hover{
	background-color: rgb(55, 55, 87);
}

.sub-header-item{
	padding-top: .9rem;
	padding-bottom: .7rem;
	text-align: center;
	border-bottom: 1px solid rgb(69, 69, 105);
	transition: .2s;
}

.sub-header-item:hover{
	border-bottom: 1px solid white;
	transition: .3s;
	background-color: rgb(69, 69, 105);

}

.sub-header-item:hover a{
	transition: .3s;
	color: white;
}

.sub-header a{
	color: rgb(209, 209, 209);
}

.message-overall-back{
	background-color: rgb(0, 0, 0, 0.6);
	position: absolute;

	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.message-overall{
	border-radius: .1rem;
	background-color: white;
	position: absolute;

	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);

	padding: 1rem 2rem ;
}

.message-overall-closer{
	width: fit-content;
	padding: .5rem 2rem;
	border: 1px solid var(--darilight-coor);

	float: right;
	margin-top: 1rem;
	
	background: linear-gradient(45deg, var(--darilight-coor) 50%, white 50%);
	background-size: 250% 100%;

	background-position: 100% 0%;
	transition: 0.2s;
}

.message-overall-closer:hover{
	cursor: pointer;
	transition: 0.4s;
	background-position: 0% 0%;
	color: white;
}

.image-fit-wrapper > img{
	max-width: 100%;
	max-height: 100%;
}


@media only screen and (max-width: 800px) {
	.phone-hide{
		display: none;
	}

	.content-width{
		padding: 1rem;
	}

	.split-grid{
		grid-template-columns: repeat(2, 1fr);
	}

}

@media only screen and (max-width: 500px) {
	.destroy-grid{
		display: block;
	}
}


